<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="home/template" lang="en">

<body>
	<section layout:fragment="content">

		<div sec:authorize="${hasRole('ROLE_INSTITUTION')}">
			<div th:substituteby="institution/institution_console :: console"></div>
		</div>

		<div id="groupDetails" th:switch="${group == null}">
			<div th:case="${true}">
				<span th:text="#{group.message.notExisting}"></span>
			</div>
			<div th:case="*">
				<div class="span9">
					<div class="row-fluid">
						<span th:text="#{group.title}"></span> : <h4 th:text="${group.title}"></h4>
						<span th:text="#{group.description}"></span> : <h4 th:text="${group.description}"></h4>
						<span th:text="#{group.users}"></span>:
<!-- 						<ul th:each="user : ${group.users}"  class="list"> -->
<!-- 							<li > -->
<!-- 								<span th:text="${user.name}"></span> -->
<!-- 							</li> -->
<!-- 						</ul> -->
					</div>
					<a class="btn" th:text="#{domain.message.listAll}" th:href="@{/domain/list}"></a>
				</div>
			</div>
		</div>
<!-- 		<a style="btn" th:href="@{/domain/details(domainId=${param.domainId[0]})}" th:text="#{domain.message.backToDomain}"></a> -->
	</section>
</body>

</html>