/.idea
*.iml
/target
target/
.settings*
.classpath
.project
/bin
desktop.ini
hibernate.properties
src/main/webapp/WEB-INF/hibernate.properties
/Uploads
/src/main/webapp/WEB-INF/hibernate.properties
/logs
*.log