<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level [%thread] %logger{36} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/executor-web-app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level [%thread] %logger{36} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <!-- Everything logged by us -->
    <logger name="agh.bit.ideafactory" level="ALL"/>

    <!-- Jetty -->
    <logger name="org.eclipse.jetty.util.log" level="INFO"/>

    <!-- Everything logged by the rest, appenders apply to all
    loggers (without additivity flag set to false) -->
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>