<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="home/template" lang="en">

<body>
	<section layout:fragment="content">
		
		<p th:if="${success != NULL}">
			<div class="alert alert-success">
				<a class="close" data-dismiss="alert">x</a> <strong>Success!
				</strong><span th:text="${message}"></span>
			</div>
		</p>

		<p th:if="${error != NULL}">
			<div class="alert alert-error">
				<a class="close" data-dismiss="alert">x</a> <strong>Error! </strong><span
					th:text="${message}"></span>
			</div>
		</p>

		<div sec:authorize="${hasRole('ROLE_INSTITUTION')}">
			<div th:substituteby="institution/institution_console :: console"></div>
		</div>

		<div id="domainDetails" th:switch="${domain == null}">
			<div th:case="${true}">
				<span th:text="#{domain.message.notExisting}"></span>
			</div>
			<div th:case="*">
				<div class="span9">
					<div class="row-fluid">
						<span th:text="#{domain.title}"></span> : <h4 th:text="${domain.title}"></h4>
						<span th:text="#{domain.description}"></span> : <h4 th:text="${domain.description}"></h4>
						<span th:text="#{domain.groups}"></span>:
						<table class="table table-condensed">
							<tr>
								<td th:text="#{group.title}"> </td>
								<td th:text="#{group.description}"> </td>
								<td th:text="#{group.message.details}"></td>
								<td sec:authorize="hasRole('ROLE_USER')" th:text="#{group.message.joinQuestion}"></td>
							</tr>
							<tr th:each="group : ${domain.getGroups()}" >
								<td th:text="${group.title}"></td>
								<td th:text="${group.description}"></td>
								<td ><a th:href="@{/group/details(groupId=${group.id})}" >Group details</a> </td>
								<td sec:authorize="hasRole('ROLE_USER')"> <a th:href="@{/group/join(groupId=${group.id})}" th:text="#{group.message.join}"></a> </td>
							</tr>
						</table>
					</div>
					<a class="btn" th:text="#{domain.message.listAll}" th:href="@{/domain/list}"></a>
					<a class="btn" th:text="#{domain.message.listusers}" th:href="@{/domain/users(domainId=${domain.id})}"></a>
					<a class="btn" th:if="${canCreateGroup == true}" th:text="#{group.message.createGroup}" th:href="@{/group/create(domainId=${domain.id})}" ></a>
					<a sec:authorize="hasRole('ROLE_INSTITUTION')" class="btn" th:text="#{domain.message.button.manageAdmins}" th:href="@{/domain/manageAdmins(domainId=${domain.id})}"></a>
				</div>
			</div>
		</div>
	</section>
</body>

</html>