<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="home/template" lang="en">

<body>
	<section layout:fragment="content">
		<p th:if="${success != NULL}">
			<div class="alert alert-success">
				<a class="close" data-dismiss="alert">x</a> <strong>Success!
				</strong><span th:text="${message}"></span>
			</div>
		</p>

		<p th:if="${error != NULL}">
			<div class="alert alert-error">
				<a class="close" data-dismiss="alert">x</a> <strong>Error! </strong><span
					th:text="${message}"></span>
			</div>
		</p>

		<div sec:authorize="${hasRole('ROLE_INSTITUTION')}">
			<div th:substituteby="institution/institution_console :: console"></div>
		</div>

		<div id="domainAdministratedList" th:switch="${domainsAdministrated.isEmpty()}">
			<div th:case="${true}">
				<span th:text="#{domain.message.noDomainsAdministrated}"></span>
			</div>
			<div th:case="*">
				<div class="span9">
					<div class="row-fluid">
						<h1 th:text="#{domain.message.domainsAdministrated}"> </h1>
						<div th:each="domain : ${domainsAdministrated}">
							<h2 th:text="${domain.title}"></h2>
							<p th:text="${domain.description}"></p>
							<p>
								<a class="btn" th:text="#{domain.message.detailsBtn}" th:href="@{/domain/details(domainId=${domain.id})}"></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="domainJoinedList" th:switch="${domainsJoined.isEmpty()}">
			<div th:case="${true}">
				<span th:text="#{domain.message.noDomainsJoined}"></span>
			</div>
			<div th:case="*">
				<div class="span9">
					<div class="row-fluid">
						<h1 th:text="#{domain.message.joinedDomains}"> </h1>
						<div th:each="domain : ${domainsJoined}">
							<h2 th:text="${domain.title}"></h2>
							<p th:text="${domain.description}"></p>
							<p>
								<a class="btn" th:text="#{domain.message.detailsBtn}" th:href="@{/domain/details(domainId=${domain.id})}"></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="domainForm" sec:authorize="hasRole('ROLE_INSTITUTION')">
			<span th:text="#{domain.message.create}"></span>
			<form th:action="@{/domain/create}" th:object="${domain}"
				method="post">
				<fieldset>
					<span th:text="#{domain.title}"></span>: <input type="text"
						th:field="*{title}" /> <br />
					<ul th:if="${#fields.hasErrors('title')}">
						<li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
					</ul>

					<span th:text="#{domain.description}"></span>: <input type="text"
						th:field="*{description}" /> <br />
					<ul th:if="${#fields.hasErrors('description')}">
						<li th:each="err : ${#fields.errors('description')}"
							th:text="${err}"></li>
					</ul>
					
					<span th:text="#{domain.password}"></span>: <input type="password" th:field="*{password}" />
					<ul th:if="${#fields.hasErrors('password')}">
						<li th:each="err : ${#fields.errors('password')}" th:text="${err}"> </li>
					</ul>
					
					<input type="submit" th:value="#{domain.message.createDomain}" />
				</fieldset>
			</form>
		</div>
		<div id="domainJoinLink" sec:authorize="hasRole('ROLE_USER')">
			<h1 >Want to join a domain?</h1>
			 <a th:href="@{/domain/join}" >Click here!</a>
		</div>
	</section>
</body>

</html>