<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="home/template"
      lang="en">
      
<body>
	<div th:fragment="domainList">
		<div th:switch="${domains.isEmpty()}" >
			<div th:case="${true}" >
				<span th:text="#{domain.message.noDomains}"></span>
			</div>
			<div th:case="*">
				<div class="span9">
					<div class="row-fluid">
						<div th:each="domain : ${domains}" >
						<h2 th:text="${domain.title}">
                            
                        </h2>

                        <p th:text="${domain.description}">
                        </p>

                        <p>
                            <a class="btn" th:text="#{domain.message.detailsBtn}" href="#"></a>
                        </p>
                        
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>