<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level [%thread] %logger{36} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <!-- Everything logged by us -->
    <logger name="agh.bit.ideafactory" level="ALL"/>

    <!-- Jetty -->
    <logger name="org.eclipse.jetty.util.log" level="INFO"/>

    <!-- Everything logged by the rest -->
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>