<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="home/template"
      lang="en">

<body>



<section layout:fragment="content">

    <h3 th:text="${problem.name}"></h3>
    <div>
        <h4>Problem content</h4>
        <a th:href="${problem.filePath}">Download</a>

    </div>

    <div>
        <h4>Tests</h4>

        <table class="table table-condensed">
        <tr>
            <th>Input</th>
            <th>Output</th>
        </tr>

        <tr th:each="test : ${tests}">
            <td><a th:href="${test.input}">input</a></td>
            <td><a th:href="${test.output}">output</a></td>
        </tr>
    </table>
    </div>




</section>

</body>
</html>
