<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="home/template"
      lang="en">
<script layout:fragment="script">
    $(document).ready(function() {
    $('#addTest').click(function() {
        var fileIndex1 = 0;
        var fileIndex2 =    1;
        <!--var input = $('<input></input>');-->
        <!--input.attr("name","file[0]");-->

        $('#testsInput').append(
            '<h5>Test: </h5>' +
            '<h6>Input</h6>' +
            '<input type="file" name="file[0]"/>' +
            '<h6>Output</h6>' +
            '<input type="file" name="file[1]"/>')
        });
    });
</script>

<body style="margin-left: 15px; margin-right:15px">

<section layout:fragment="content">
    <div style="width=100%">
        <div style="width=50%; float:left ">
            <h3>Choose your problems, Your Highness!</h3>

            <table class="table table-condensed">
                <tr>
                    <th>Problem ID</th>
                    <th>Problem Name</th>
                    <th>Problem Author</th>
                    <th>Show Content</th>
                    <th>Send Submit</th>
                </tr>
                <tr th:each="prob : ${problemList}">
                    <td th:text="${prob.id}"></td>
                    <td th:text="${prob.name}"></td>
                    <td>AUTOR</td>
                    <td><a th:href="@{/problem/details(id=${prob.id})}">filePath</a></td>
                    <td><a th:href="@{/submit/send(id=${prob.id})}">send submit </a></td>
                </tr>
            </table>
        </div>

        <div style="width=50%; float:right">
            <p th:if="${error != NULL}">

            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">x</a>
                <strong>Error! </strong><span th:text="${message}"></span>
            </div>
            </p>


            <form class="form-vertical" name="uploadForm" method='post' th:action="@{/problem/send}" enctype="multipart/form-data ">

                <div class="form-actions" align="center">

                    <h4>Send a problem</h4>
                    <input type="text" class="input-mysize" placeholder="Title..."/>

                    <h5>Select problem:</h5>
                    <input type="file" name="problemFile" size="5"/>
                    <br/>

                    <p id="testsInput">

                    </p>

                    <div>
                        <button id="addTest" class="btn" onclick="return false">Add Test</button>
                    </div>

                    <div align="center">
                        <button type="submit" class="btn btn-primary">Send</button>
                        <button class="btn">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

</body>
</html>