<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="home/template"
      lang="en">


<body>

<section layout:fragment="content">

    <h3>This is the chosen exercise, Your Highness!</h3>

    <div th:if="${exercise != null}">

        <div class="exerciseDetails">
            <div id="id">
                ID :
                <span th:text="${exercise.id}"></span>
            </div>


            <div id="name">
                Name :
                <span th:text="${exercise.problem.name}"></span>
            </div>


            <div id="author">
                AUTOR :
                <span th:text="${exercise.problem.user.username}"></span>
            </div>
	

            <div id="content">
                Content :
                <span th:text="${exercise.problem.content}"></span>
            </div>

			<div>
				Deadline:
				<span th:text="${#dates.format(exercise.deadline,'dd-MM-yyyy HH:MM:ss')}"></span>
			</div>


            <div id="sendSubmit">
                <a th:href="@{/submit/send(id=${exercise.id})}">Send your submit</a>
                
            </div>
        </div>
    </div>
    <div th:if="${exercise == null}">
        No such exercise found!
    </div>

    <!--
   <table class="data">
       <tr>
           <th>Problem ID</th>
           <th>Problem Name</th>
           <th>Problem Author </th>
           <th>Show Content</th>
           <th>Send Submit</th>
       </tr>

       <c:if  test="${!empty exerciseList}">
           <c:forEach items="${exerciseList}" var="prob">
               <tr>
                   <td>${prob.id}</td>
                   <td>${prob.name}</td>
                   <td>AUTOR</td>
                   <td><a href='/exercise/details?id=${prob.id}'>content</a> </td>
                   <td> </td>
               </tr>
           </c:forEach>
       </c:if>

    </table> -->

    <!--
   <form class="form-horizontal" name='f' action="<c:url value='/register' />"
       method='POST'>
           <fieldset>

           </fieldset>
   </form>

    -->
</section>


</body>
</html>