<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="home/template"
      lang="en">

<body>

<section layout:fragment="content">

    <div class="span12">
        <h3>Exercises</h3>
        <table th:if="${!exerciseList.empty}" class="table table-hover">
            <thead>
            <th>id</th>
            <th>Name</th>
            <th>Problem</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr th:each="exercise : ${exerciseList}">
                <td th:text="${exercise.id}"></td>
                <td th:text="${exercise.title}"/>
                <td><a th:text="'#' + ${exercise.problem.id} + ' ' + ${exercise.problem.name}"
                       th:href="@{/problem/details(problemId=${exercise.problem.id})}"/></td>
                <td><a th:href="@{/submit/send(id=${exercise.id})}" class="btn btn-small btn-primary"
                       th:text="#{problem.sendSubmit}"/></td>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/exercise/create(problemId=0)}" class="btn btn-small btn-success"
           th:text="#{exercise.addExercise}"/>

    </div>
</section>

</body>
</html>