<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="home/template"
      lang="en">


<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <div class="row-fluid">
                <div th:substituteby="institution/institution_console :: console">
                    
                </div>
                <!--/.well -->
            <!--/span-->
            
            <div th:substituteby="domain/list :: domainList">
            
            </div>
            
            <!--/span-->
        </div>
        <!--/row-->
        <hr/>
    </div>
</section>
</body>
</html>