<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      lang="en">


<body>
	<div th:fragment="console">
		<div class="span3">
		    <div class="well sidebar-nav">
		        <ul class="nav nav-list">
		            <li>
		                <a th:href="@{/business/home}" th:text="#{institution.menu.home}"></a>
		            </li>
		            <li>
		                <a href="#">Billings</a>
		            </li>
		            <li>
		                <a th:href="@{/business/domains}" th:text="#{institution.menu.domains}"></a>
		            </li>
		            <li>
		                <a href="#">Admin management</a>
		            </li>
		        </ul>
		    </div>
		</div>
	</div>
</body>
</html>