<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="home/template"
      lang="en">

<body>


<section layout:fragment="content">

    <h1>Please upload a file</h1>

    <form method="post" th:action="@{/submit/send}" enctype="multipart/form-data">
        <!-- <input type="text" name="name"/> -->
        <input type="hidden" name="problem_id" id="problem_id" th:value="${param.id[0]}"/>
        <input type="file" name="file"/>
        <input type="submit"/>
    </form>

</section>

</body>
</html>