<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="home/template"
      lang="en">

<body>

<script type="text/javascript" layout:fragment="script">
    $(document).ready(function() {
    $('#addTest').prop('disabled', true);

    $("form > *").change(function() {

    var fields = $("form input");
    var filledFields = fields.filter(function() {
    return $(this).val().length > 0;
    });

    if (filledFields.length === fields.length) {
    $('#addTest').prop('disabled', false);
    }
    else {
    $('#addTest').prop('disabled', true);
    }
    });
    });
</script>


<section layout:fragment="content">

    <div class="span12">
        <p th:if="${success != NULL}">

        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">x</a> <strong>Success!
        </strong><span th:text="${message}"></span>
        </div>
        </p>

        <p th:if="${error != NULL}">

        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">x</a> <strong>Error! </strong><span
                th:text="${message}"></span>
        </div>
        </p>

        <h3 th:text="${problem.name}"></h3>

        <div>
            <h4>Problem content</h4>

            <p th:text="${problemContent}"></p>
            <a th:href="@{/problem/download(id=${problem.id})}" class="btn-small btn"
               th:text="#{problem.details.download}"/>
        </div>

        <br/>

        <div>
            <h4>Tests</h4>

            <table th:if="${!tests.empty}" class="table table-condensed table-hover">
                <thead>
                <th th:text="'id'"></th>
                <th>Download</th>
                </thead>

                <tbody>
                <tr th:each="test : ${tests}">
                    <td th:text="${test.id}"></td>
                    <td><a th:href="@{/test/download(id=${test.id},type='input')}"
                           class="btn btn-small btn-primary">input</a>
                        <a th:href="@{/test/download(id=${test.id},type='output')}"
                           class="btn btn-small btn-primary">output</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <BR/>

            <form class="form-vertical" name="uploadForm" method="post"
                  th:action="@{/problem/details(problemId=${problem.id})}"
                  enctype="multipart/form-data">
                <div id="testsInput" class="form-actions">
                    <h4>Add test.</h4>

                    <p>
                        You can add another test to this problem.<br/>
                        Simply select input and output test file respectively.<br/><br/>
                    </p>

                    <div class="control-group">
                        <div class="controls">
                            <input name="files[0]" type="file"/>
                            <input name="files[1]" type="file"/>
                        </div>
                        <button id="addTest" type="submit" class="btn btn-small btn-primary">Add Test</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>

</body>
</html>