<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="home/template"
      lang="en">


<body>

<script type="text/javascript" layout:fragment="script">
    $(document).ready(function() {

        var testFileIndex = 0;

        $('#send').prop('disabled', true);

        $("form > *").change(function() {
            var testFields = $('form input').not("#problemFile, #title");
            var filledTestFields = testFields.filter(function() {
                return $(this).val().length > 0;
            });
            var fields = $("form input");
            var filledFields = fields.filter(function() {
                return $(this).val().length > 0;
            });
            if (testFields.length === filledTestFields.length){
                $('#addTest').prop('disabled', false);
            }
            else{
                $('#addTest').prop('disabled', true);
            }

            if (filledFields.length === fields.length) {
                $('#send').prop('disabled', false);
            }
            else {
                $('#send').prop('disabled', true);
            }
        });

        function createFileInputElement(testFileIndex) {
            var input = $('<input/>');
            input.attr("name","files["+testFileIndex+"]");
            input.attr("type","file");
            return input;
        };

        function createDiv(clazz){
            var div = $('<div></div>');
            div.attr("class", clazz);
            return div;
        };


        $('#addTest').click(function() {
            var controlGroupDiv = createDiv("control-group");
            var controlsDiv = createDiv("controls");
            controlsDiv.append(createFileInputElement(testFileIndex));
            testFileIndex++;
            controlsDiv.append(createFileInputElement(testFileIndex));
            testFileIndex++;
            controlGroupDiv.append('<label class="control-label">TEST: INPUT/OUTPUT</label>');
            controlGroupDiv.append(controlsDiv);


            $('#testsInput').append(controlGroupDiv);
            $('#addTest').prop('disabled', true);
            $('#send').prop('disabled', true);
        });
    });
</script>

<section layout:fragment="content">

    <div class="span12">
        <p th:if="${error != NULL}">

        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">x</a>
            <strong>Error! </strong><span th:text="${message}"></span>
        </div>
        </p>

        <p th:if="${success != NULL}">

        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">x</a> <strong>Success!
        </strong><span th:text="${message}"></span>
        </div>
        </p>


        <h3>Send a problem</h3>
        <br/>

        <div>
            <form class="form-horizontal" name="uploadForm" method="post" th:action="@{/problem/upload}"
                  enctype="multipart/form-data">

                <div class="control-group">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        <input id="title" type="text" class="span4" name="problemTitle"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="problemFile">Select problem</label>

                    <div class="controls">
                        <input id="problemFile" type="file" name="problemFile" size="5"/>
                    </div>
                </div>

                <p id="testsInput">
                </p>

                <div class="control-group">
                    <div class="controls">
                        <button id="send" type="submit" class="btn btn-success btn-small">Send</button>
                        <button id="addTest" class="btn btn-small" onclick="return false">Add Test</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

</body>
</html>