<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">


    <http use-expressions="true" authentication-manager-ref="institutionAuthManager"
            pattern="/business/**">
        <form-login login-page="/business/login" default-target-url="/business/console"
                    authentication-failure-url="/business/loginfailed"/>
        <logout logout-success-url="/"/>
        <intercept-url pattern="/business/login" access="permitAll"/>
        <intercept-url pattern="/business/register" access="permitAll"/>
        <intercept-url pattern="/business/loginfailed" access="permitAll"/>
        <intercept-url pattern="/business/**"  access="hasRole('ROLE_INSTITUTION')"/>
    </http>



    <http use-expressions="true" authentication-manager-ref="userAuthManager">
        <form-login login-page="/login" default-target-url="/home"
                    authentication-failure-url="/loginfailed"/>
        <logout logout-success-url="/" />
        <intercept-url pattern="/" access="permitAll"/>
        <intercept-url pattern="/home" access="permitAll"/>
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/loginfailed" access="permitAll"/>
        <intercept-url pattern="/register" access="permitAll"/>
        <intercept-url pattern="/logout" access="isAuthenticated()"/>
        <intercept-url pattern="/domain*" access="hasRole('ROLE_INSTITUTION')"/>
        <intercept-url pattern="/resources/**" access="permitAll"/>
        <intercept-url pattern="/favicon.ico" access="permitAll"/>
        <intercept-url pattern="/problem/**" access="isAuthenticated()"/>
        <intercept-url pattern="/exercise/**" access="isAuthenticated()"/>
        <intercept-url pattern="/submit/**" access="isAuthenticated()"/>
        <intercept-url pattern="/**" access="permitAll"/>
    </http>




    <beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <beans:constructor-arg value="256"/>
    </beans:bean>

    <authentication-manager id="userAuthManager">
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder ref="passwordEncoder">
                <salt-source user-property="username"/>
            </password-encoder>
        </authentication-provider>
    </authentication-manager>

    <authentication-manager id="institutionAuthManager">
        <authentication-provider user-service-ref="institutionDetailsService">
            <password-encoder ref="passwordEncoder">
                    <salt-source user-property="username"/>
            </password-encoder>
        </authentication-provider>
    </authentication-manager>

</beans:beans>